body {
    background-color: azure; /* 背景淺藍色 */
}

.text-UpperCase.text-PriMary{
    color: darkcyan;
}

.text-Primary{
    color:darkcyan;
}

.btn-primary{
    color: white;
    background-color: darkcyan;
}
.btn-outline-primary {
    color: darkcyan;
    border-color: darkcyan;
}

.btn-outline-primary:hover {
    background-color: darkcyan;
    color: white; /* hover 時文字變白 */
}